target/
${project.build.directory}/
.idea/
*.iml
*.ipr
*.iws
out/
*.log
.DS_Store
Thumbs.db
.env
.env.mac
.env.windows
.env.*
.mvn/
mvnw
mvnw.cmd
.vscode/
*.class
secrets.properties
**/secrets/*
local.mk
/private/
/**/private/
/**/*-private-*
synapsys-core/
synapsys-spring-boot-starter/
synapsys-spring-boot-autoconfigure/